{% extends 'base.html.twig' %}

{% block subtitle %}Connexion{% endblock %}

{% block content %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h2 class="h3 formspace">Veuillez vous connecter</h2>

        <div class="formwrapper">

            <label for="inputEmail" class="formspace">Email : </label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control formspace fieldshape" autocomplete="email" required autofocus>
            <label for="inputPassword" class="formspace">Mot de passe : </label>
            <input type="password" name="password" id="inputPassword" class="form-control formspace fieldshape" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

            <button class="login-button formspace" type="submit">
                Se connecter
            </button>

        </div>

    <div>
    <p>ou</p>
    <h3 class="h3 formspace"><a href ="{{ path('app_register') }}">~ Vous inscrire ~</a></h3>
    </div>
</form>
{% endblock %}
