<header>

    <div class="header">
	    <a href="{{ path('main_home') }}"><img src="{{ asset('img/ologo.jpg')}}" alt="logo o'backpack" id="logomenu"></a>
    </div>

    <nav id="menu">
        <div class="nav">
            <ul class="nav-menu">
                <li class="nav-item"><a href="{{ path('main_error') }}" class="nav-link">Recherche</a></li>
                <li class="nav-item"><a href="{{ path('location_continent') }}" class="nav-link">Destination</a></li>
                <li class="nav-item"><a href="{{ path('blog_list') }}" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="{{ path('main_construction') }}" class="nav-link">Forum</a></li>
                <li class="nav-item"><a href="{{ path('main_construction') }}" class="nav-link">Annonces</a></li>
            </ul>

            <div class="nav-item">
                
                {% if app.user %}
                <a href="{{ path('user_profile', {id:app.user.id}) }}" class="nav-link">Mon compte</a></div>
                <div class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">Me déconnecter</a></div>
                {% else %}
                <a href="{{ path('app_login') }}" class="nav-link">Se connecter / S'enregistrer</a></div>
                {% endif %}
            
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>
	
</header>