{% extends "base.html.twig" %}

{% block subtitle %}
	Informations
{% endblock %}

{% block content %}
	<div class="imageandtitle">
		<p class="administratif-title"></p>
		<h2>{{name}}
			- Administratif</h2>
	</div>

	<div class="links">
		<p class="link-post">
			<a href="{{ path('location_country_stuff', {name:name}) }}">Matériel</a>
		</p>
		<p class="link-post">
			<a href="{{ path('location_country_weather', {name}) }}">Météo</a>
		</p>
		<p class="link-post">
			<a href="{{ path('location_country', {name:detailCountry.0.name}) }}">Retour
				{{detailCountry.0.name}}
			</a>
		</p>
	</div>
	<div class= "adminCountry" >
		<div class="adminCountry_flag">
			<img class="flag" src="{{detailCountry.0.flag}}" alt="{{detailCountry.0.name}}"> 
		</div>
		<div class = "adminCountry_info" >
			<div>
				Region : {{detailCountry.0.region}}
			</div>
			<div>
				Capital : {{detailCountry.0.capital}}
			</div>
			<div>
				Langue :
				{% for languages in detailCountry.0.languages %}
					
					{{languages["nativeName"]}},
				{% endfor %}
				
			</div>
			<div>
				Devise :
				{% for currencies in detailCountry.0.currencies %}
				{% if currencies.name is defined and currencies.name is not null  %}

				{{currencies.name}}	
				{% else %}
				<p></p>
				{% endif %}
				{% if currencies.symbol is defined and currencies.symbol is not null  %}

				{{currencies.symbol}}	
				{% else %}
				<p></p>
				{% endif %}
				{% if currencies.code is defined and currencies.code is not null  %}

				{{currencies.code}}	
				{% else %}
				<p></p>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		
	</div>
	
	<div class="administratif post" id="administratif">
		<h4 class="admin-title">Administratif :</h4>
			<ul class="listAdmin" >
				<li>
				{% if countryInfo.0.visa is defined and countryInfo.0.visa is not null %}
				Visa : {{ countryInfo.0.visa == "1" ? "Oui" : "Non" }}
				{% else %}
				{% endif %}
				</li>
				<li>
				{% if countryInfo.0.vaccine is defined and countryInfo.0.vaccine is not null %}
					Vaccin : {{ countryInfo.0.vaccine }}
					{% else %}
				{% endif %}
				</li>
				<li><a href="https://www.diplomatie.gouv.fr/fr/conseils-aux-voyageurs/conseils-par-pays-destination/{{ name }}/#entree">
				Pour plus d'informations
				</a></li>
			</ul>
	</div>
	<div class="evenements post" id="evenements">
		<h4 class="events-title">Evenements :</h4>
		{% if countryInfo.0.events  is defined and countryInfo.0.events  is not null %}
		<p class="event">{{ countryInfo.0.events }}</p>
		{#<p><a href="https://www.diplomatie.gouv.fr/fr/conseils-aux-voyageurs/conseils-par-pays-destination/{{ name }}/#entree">
		Voir le calendrier
		</a></p>#}
			{% else %}
				{% endif %}
	</div>
{% endblock %}
