{% extends "base.html.twig" %}

{% block subtitle %}
	Informations
{% endblock %}

{% block content %}
	<div class="imageandtitle">
		<img src="" alt="image monde" class="continentspec">
		<h2>{{country.name}}
			- Administratif</h2>
	</div>

	<div class="links">
		<button class="continue post">
			<a href="{{ path('location_country_stuff', {id:country.id}) }}">Matériel</a>
		</button>
		<button class="continue post">
			<a href="">Météo</a>
		</button>
		<button class="continue post">
			<a href="{{ path('location_country', {id:country.id}) }}">Retour au
				{{country.name}}
			</a>
		</button>
	</div>

	<div>Langue :
		{{ country.language}}
	</div>
	<div>Monnaie :
		{{ country.money }}
	</div>

	<div>Vaccin :
		{{ country.vaccine }}
	</div>
	<div class="administratif continue post" id="administratif">
		<h4>Administratif :</h4>
		<p>Passeport, visa</p>
	</div>
	<div class="evenements continue post" id="evenements">
		<h4>Evenements :</h4>
		<p>{{ country.events }}</p>
	</div>
{% endblock %}
