{% extends "base.html.twig" %}

{% block subtitle %}
	Informations
{% endblock %}

{% block content %}
    <div class="imageandtitle">
        <img src="" alt="image monde" class="continentspec">
        <h2>{{country.name}} - Administratif</h2>
    </div>

    <div>
        <h3><a href="{{ path('location_country_stuff', {id:country.id}) }}">Matériel</a></h3>
        <h3><a href=""> Météo</a></h3>
    </div>

    <div>Langue : {{ country.language}}</div>
    <div>Monnaie : {{ country.money }} </div>

    <div>Vaccin : {{ country.vaccine }} </div>
    <div class="administratif" id="administratif">Administratif : Passeport, visa </div>
    <div class="evenements" id="evenements">Evenements : {{ country.events }} </div>
{% endblock %}
