{% extends 'base.html.twig' %}

{% block subtitle %}
	Pays
{% endblock %}

{% block content %}

	<div class="imageandtitle">
		<img src="" alt="image monde" class="continentspec">
		<h2>{{name}}</h2>
	</div>
	<button class="continue post">
		<a href="{{ path('location_continent')}}">Retour à la liste des continents</a>
	</button>
	<section class="country_details continentli">
		<div class="administratif_presentation continent">
			<a href="{{ path('location_country_administratif', {name}) }}#administratif">Administratif</a>
		</div>
		<div class="meteo continent">
			<a href="{{ path('location_country_weather', {name}) }}">Météo</a>
		</div>
		<div class="events continent">
			<a href="{{ path('location_country_administratif', {name:name}) }}#evenements">Evènements</a>
		</div>
		<div class="materiel continent">
			<a href="{{ path('location_country_stuff', {name:name}) }}">Matériel</a>
		</div>
	</section>

{% endblock %}
