{% extends "base.html.twig" %}

{% block subtitle %}
	Quand partir
{% endblock %}

{% block content %}

	<div class="imageandtitle">
		<img src="" alt="image monde" class="continentspec">
		<h2> {{country.name}} - Quand partir</h2>
	</div>

	<div class="links">
		<button class="continue post">
			<a href="{{ path('location_country_administratif', {id:country.id}) }}#administratif">Administratif</a>
		</button>
		<button class="continue post">
			<a href="{{ path('location_country_stuff', {id:country.id}) }}">Matériel</a>
		</button>
		<button class="continue post">
			<a href="{{ path('location_country', {id:country.id}) }}">Retour au
				{{country.name}}
			</a>
		</button>
	</div>
	<section class="weather">
		<div>
			Temps du moment :
								température  Min : °C, Max: °C

		</div>
	</section>
{% endblock %}
