{% extends 'base.html.twig' %}

{% block subtitle %}Contactez-nous!{% endblock %}

{% block content %}

<div class="formcontainer">

    <h2>Contactez-nous!</h2>
    
        {{ form_start(contactform) }}
                <div class="form-group">
                    {{ form_row(contactform.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(contactform.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(contactform.message, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <input type="submit" value="Envoyer" class="send7">
                </div>
        {{ form_end(contactform) }}

<div>

{% endblock %}
