{% extends 'base.html.twig' %}

{% block title %}
	Galerie
{% endblock %}

{% block content %}

	<div class="title">
		<h2>
			Galerie Photo
		</h2>
	</div>

	<p class="continue">
		<a href="{{ path('blog_list') }}">Retour au blog</a>
	</p>

	<section class="gallery continentul">

		{% for continent in continents %}
				<section class="blog-carousel continentpictures">
					<div class="carousel-inner">
						<img class="active2 item" src="{{ asset('img/0006.jpg')}}" alt="Picture1">
						<img class="item" src="{{ asset('img/0013.jpg')}}" alt="Picture2">
						<img class="item" src="{{ asset('img/0012.jpg')}}" alt="Picture3">
						<img class="item" src="{{ asset('img/0017.jpg')}}" alt="Picture4">
					</div>
					<div class="arrows">
						<div class="arrow precedent">
							&lt;
						</div>
						<div class="arrow suivant">
							&gt;
						</div>
					</div>
						
				<a href="{{ path('blog_continentPic', {name:continent.name}) }} ">
					{{ continent.name }}
				</a>
				</section>
		{% endfor %}

	</section>

{% endblock %}