{% extends 'base.html.twig' %}

{% block title %}
	Blog
{% endblock %}

{% block content %}

	<div class="imageandtitle">
		<img src="#" alt="image monde" class="continentspec">
		<h2>
			Blog
		</h2>
	</div>

	<div class="links">
		<button class="continue post"><a href="">Recherche</a> </button>
		<button class="continue post"><a href="">Filtre</a> </button>
		<button class="continue post"><a href="/blog/post/user/1/add"> &#43; Ajouter un article</a></button>
	</div>

	<section class="post">
		
            <div class="postleft">
                <figure class="postpic">
                    <img src="{{ asset('img/'~ posts|last.picture)}}" alt="photo illustrant l'article">
                </figure>
            </div>
            <div class="postright">
                <h4>{{ posts|last.title }}</h4>
                <div class="postbeginning">
                    <p>{{ posts|last.content|slice(0, 300) }}...</p>
                    <p>{{ posts|last.user.nickname }} - Le {{ posts|last.publishedAt|date('d-m-Y') }}</p>
                </div>
                
            </div>
    
	</section>
	
	<button class="continue post">
        <a href="{{ path('blog_posts') }}">Lire la suite</a>
    </button>

	<section class="blog_carousel">
		<div class="carousel-inner">
			<div class="item active">
				<img src="pic1" alt="Picture 1">
			</div>
			<div class="item active">
				<img src="pic2" alt="Picture 2">
			</div>
			<div class="item active">
				<img src="pic3" alt="Picture 3">
			</div>
		</div>

		<a class="left">
			<span class="left_arrow">&lt;</span>
		</a>
		<a class="right">
			<span class="right_arrow">&gt;</span>
		</a>

		<div class="title"><a href="{{ path('blog_gallery') }}">Galerie photo</a></div>
	</section>

{% endblock %}
