{% extends 'base.html.twig' %}

{% block subtitle %}Votre espace{% endblock %}

{% block content %}

{{ dd(app.user)}}

    <p>Bienvenue dans votre compte, {{ app.user.nickname }}</p>

    <h5>Vos informations</h5>

    <p>Nom : {{ app.user.name }}</p>
    <p>Prénom : {{ app.user.firstname }}</p>
    <p>E-mail : {{ app.user.email }}</p>
    <p>Date de naissance : {{ app.user.date_of_birth|date('d/m/Y') }}</p>
    <p>Pays : {{ app.user.country }}</p>

    <p>liste des itinéraires/parcours??</p>


    <h5>Modifiez vos données</h5>

    {{ form(form) }}

    <h5>Modifiez votre mot de passe</h5>

    <p>Ancien mot de passe</p>
    {{ form(form) }}
    <p>Nouveau mot de passe</p>

{% endblock %}
